html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
input {
  outline: none;
}
input[type='submit'] {
  -webkit-appearance : none;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
  .container {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media only screen and (min-width: 1200px ) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row,
.r-row {
  margin-right: -5px;
  margin-left: -5px;
}
@media only screen and (min-width: 768px){
  .row,
  .r-row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
.row:after,
.r-row:after {
  display: block;
  clear: both;
  content: '';
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xl-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xl-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xl-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xl-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xl-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xl-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xl-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xl-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xl-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xl-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xl-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xl-12 {
  position: relative;
  min-height: 1px;
}
@media only screen and (min-width: 768px){
  .col-xs-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1,
  .col-xl-1,
  .col-xs-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xl-2,
  .col-xs-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-xl-3,
  .col-xs-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xl-4,
  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,
  .col-xl-5,
  .col-xs-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xl-6,
  .col-xs-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7,
  .col-xl-7,
  .col-xs-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8,
  .col-xl-8,
  .col-xs-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9,
  .col-xl-9,
  .col-xs-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10,
  .col-xl-10,
  .col-xs-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11,
  .col-xl-11,
  .col-xs-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12,
  .col-xl-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.row .col-xs-1, 
.row .col-xs-2, 
.row .col-xs-3, 
.row .col-xs-4, 
.row .col-xs-5, 
.row .col-xs-6, 
.row .col-xs-7, 
.row .col-xs-8, 
.row .col-xs-9, 
.row .col-xs-10, 
.row .col-xs-11, 
.row .col-xs-12 {
  float: left;
}
.r-row .col-xs-1,
.r-row .col-xs-2,
.r-row .col-xs-3,
.r-row .col-xs-4,
.r-row .col-xs-5,
.r-row .col-xs-6,
.r-row .col-xs-7,
.r-row .col-xs-8,
.r-row .col-xs-9, 
.r-row .col-xs-10, 
.r-row .col-xs-11, 
.r-row .col-xs-12 {
  float: right;
}

.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}

@media only screen and (max-width: 767px) {
  .row .col-xs-offset-11 {
    margin-left: 91.66666667%;
  }
  .row .col-xs-offset-10 {
    margin-left: 83.33333333%;
  }
  .row .col-xs-offset-9 {
    margin-left: 75%;
  }
  .row .col-xs-offset-8 {
    margin-left: 66.66666667%;
  }
  .row .col-xs-offset-7 {
    margin-left: 58.33333333%;
  }
  .row .col-xs-offset-6 {
    margin-left: 50%;
  }
  .row .col-xs-offset-5 {
    margin-left: 41.66666667%;
  }
  .row .col-xs-offset-4 {
    margin-left: 33.33333333%;
  }
  .row .col-xs-offset-3 {
    margin-left: 25%;
  }
  .row .col-xs-offset-2 {
    margin-left: 16.66666667%;
  }
  .row .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }
  .r-row .col-xs-offset-11 {
    margin-right: 91.66666667%;
  }
  .r-row .col-xs-offset-10 {
    margin-right: 83.33333333%;
  }
  .r-row .col-xs-offset-9 {
    margin-right: 75%;
  }
  .r-row .col-xs-offset-8 {
    margin-right: 66.66666667%;
  }
  .r-row .col-xs-offset-7 {
    margin-right: 58.33333333%;
  }
  .r-row .col-xs-offset-6 {
    margin-right: 50%;
  }
  .r-row .col-xs-offset-5 {
    margin-right: 41.66666667%;
  }
  .r-row .col-xs-offset-4 {
    margin-right: 33.33333333%;
  }
  .r-row .col-xs-offset-3 {
    margin-right: 25%;
  }
  .r-row .col-xs-offset-2 {
    margin-right: 16.66666667%;
  }
  .r-row .col-xs-offset-1 {
    margin-right: 8.33333333%;
  }
}
@media only screen and (min-width: 768px) {
  .row .col-sm-1, 
  .row .col-sm-2, 
  .row .col-sm-3, 
  .row .col-sm-4, 
  .row .col-sm-5, 
  .row .col-sm-6, 
  .row .col-sm-7, 
  .row .col-sm-8, 
  .row .col-sm-9, 
  .row .col-sm-10, 
  .row .col-sm-11, 
  .row .col-sm-12 {
    float: left;
  }

  .r-row .col-sm-1,
  .r-row .col-sm-2,
  .r-row .col-sm-3,
  .r-row .col-sm-4,
  .r-row .col-sm-5,
  .r-row .col-sm-6,
  .r-row .col-sm-7,
  .r-row .col-sm-8,
  .r-row .col-sm-9, 
  .r-row .col-sm-10, 
  .r-row .col-sm-11, 
  .r-row .col-sm-12 {
    float: right;
  }

  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .row .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .row .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .row .col-sm-offset-9 {
    margin-left: 75%;
  }
  .row .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .row .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .row .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .row .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .row .col-sm-offset-3 {
    margin-left: 25%;
  }
  .row .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .row .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .r-row .col-sm-offset-11 {
    margin-right: 91.66666667%;
  }
  .r-row .col-sm-offset-10 {
    margin-right: 83.33333333%;
  }
  .r-row .col-sm-offset-9 {
    margin-right: 75%;
  }
  .r-row .col-sm-offset-8 {
    margin-right: 66.66666667%;
  }
  .r-row .col-sm-offset-7 {
    margin-right: 58.33333333%;
  }
  .r-row .col-sm-offset-6 {
    margin-right: 50%;
  }
  .r-row .col-sm-offset-5 {
    margin-right: 41.66666667%;
  }
  .r-row .col-sm-offset-4 {
    margin-right: 33.33333333%;
  }
  .r-row .col-sm-offset-3 {
    margin-right: 25%;
  }
  .r-row .col-sm-offset-2 {
    margin-right: 16.66666667%;
  }
  .r-row .col-sm-offset-1 {
    margin-right: 8.33333333%;
  }
}
@media only screen and (min-width: 992px) {
  .row .col-md-1, 
  .row .col-md-2, 
  .row .col-md-3, 
  .row .col-md-4, 
  .row .col-md-5, 
  .row .col-md-6, 
  .row .col-md-7, 
  .row .col-md-8, 
  .row .col-md-9, 
  .row .col-md-10, 
  .row .col-md-11, 
  .row .col-md-12 {
    float: left;
  }

  .r-row .col-md-1,
  .r-row .col-md-2,
  .r-row .col-md-3,
  .r-row .col-md-4,
  .r-row .col-md-5,
  .r-row .col-md-6,
  .r-row .col-md-7,
  .r-row .col-md-8,
  .r-row .col-md-9, 
  .r-row .col-md-10, 
  .r-row .col-md-11, 
  .r-row .col-md-12 {
    float: right;
  }

  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
  .row .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .row .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .row .col-md-offset-9 {
    margin-left: 75%;
  }
  .row .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .row .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .row .col-md-offset-6 {
    margin-left: 50%;
  }
  .row .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .row .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .row .col-md-offset-3 {
    margin-left: 25%;
  }
  .row .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .row .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .row .col-md-offset-0 {
    margin-left: 0;
  }
  .r-row .col-md-offset-11 {
    margin-right: 91.66666667%;
  }
  .r-row .col-md-offset-10 {
    margin-right: 83.33333333%;
  }
  .r-row .col-md-offset-9 {
    margin-right: 75%;
  }
  .r-row .col-md-offset-8 {
    margin-right: 66.66666667%;
  }
  .r-row .col-md-offset-7 {
    margin-right: 58.33333333%;
  }
  .r-row .col-md-offset-6 {
    margin-right: 50%;
  }
  .r-row .col-md-offset-5 {
    margin-right: 41.66666667%;
  }
  .r-row .col-md-offset-4 {
    margin-right: 33.33333333%;
  }
  .r-row .col-md-offset-3 {
    margin-right: 25%;
  }
  .r-row .col-md-offset-2 {
    margin-right: 16.66666667%;
  }
  .r-row .col-md-offset-1 {
    margin-right: 8.33333333%;
  }
}
@media only screen and (min-width: 1200px) {
  .row .col-lg-1, 
  .row .col-lg-2, 
  .row .col-lg-3, 
  .row .col-lg-4, 
  .row .col-lg-5, 
  .row .col-lg-6, 
  .row .col-lg-7, 
  .row .col-lg-8, 
  .row .col-lg-9, 
  .row .col-lg-10, 
  .row .col-lg-11, 
  .row .col-lg-12 {
    float: left;
  }

  .r-row .col-lg-1,
  .r-row .col-lg-2,
  .r-row .col-lg-3,
  .r-row .col-lg-4,
  .r-row .col-lg-5,
  .r-row .col-lg-6,
  .r-row .col-lg-7,
  .r-row .col-lg-8,
  .r-row .col-lg-9, 
  .r-row .col-lg-10, 
  .r-row .col-lg-11, 
  .r-row .col-lg-12 {
    float: right;
  }

  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
@media only screen and (min-width: 1200px) {
  .row .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .row .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .row .col-lg-offset-9 {
    margin-left: 75%;
  }
  .row .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .row .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .row .col-lg-offset-6 {
    margin-left: 50%;
  }
  .row .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .row .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .row .col-lg-offset-3 {
    margin-left: 25%;
  }
  .row .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .row .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .row .col-lg-offset-0 {
    margin-left: 0;
  }
  .r-row .col-lg-offset-11 {
    margin-right: 91.66666667%;
  }
  .r-row .col-lg-offset-10 {
    margin-right: 83.33333333%;
  }
  .r-row .col-lg-offset-9 {
    margin-right: 75%;
  }
  .r-row .col-lg-offset-8 {
    margin-right: 66.66666667%;
  }
  .r-row .col-lg-offset-7 {
    margin-right: 58.33333333%;
  }
  .r-row .col-lg-offset-6 {
    margin-right: 50%;
  }
  .r-row .col-lg-offset-5 {
    margin-right: 41.66666667%;
  }
  .r-row .col-lg-offset-4 {
    margin-right: 33.33333333%;
  }
  .r-row .col-lg-offset-3 {
    margin-right: 25%;
  }
  .r-row .col-lg-offset-2 {
    margin-right: 16.66666667%;
  }
  .r-row .col-lg-offset-1 {
    margin-right: 8.33333333%;
  }
  .r-row .col-lg-offset-0 {
    margin-right: 0;
  }
}

.hidden {
  display: none;
}

@media only screen and (max-width: 767px) {
  .hidden-xs,
  .xs-hidden {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hidden-sm,
  .sm-hidden {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hidden-md,
  .md-hidden {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .hidden-lg,
  .lg-hidden {
    display: none !important;
  }
}